.MuiBox-root.css-1wasbw4 .MuiBox-root.css-f38rbf {
    margin-left: 0px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-ongmpo-MuiPaper-root p {
    color: #fff;
}
.flex-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.MuiTypography-root.MuiTypography-caption.css-6c7b9h-MuiTypography-root {
    margin-top: 0px;
}