.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding: 20px;
  position: sticky;
  top: 0;
  overflow-y: auto; /* Allows scrolling within the sidebar if content overflows */
  z-index: 1000; /* Ensures the sidebar is above other content */
}

.main-content {
  padding: 20px;
  margin-left: 16.67%; /* To account for the width of the sidebar */
}

.sidebar-logo img {
  max-width: 100%;
  height: auto;
  width: 80%;
}
