/* Home.css */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.btn-primary {
  margin-top: 20px;
}

.col-lg-6.text-left h2 {
    font-size: 38px;
    width: 400px;
    font-weight: 700;
    margin-bottom: 25px;
}
.col-lg-6.text-left p {
    margin-bottom: 30px;
}


.home-title {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
}

.text-dark-gray {
  color: #535353;
}

.text-primary-blue {
  color: #0A69D7;
}

.home-description {
  color: #817B7B;
  max-width: 800px;
}

.startups-card {
  background: linear-gradient(90deg, rgba(216, 233, 255, 0.3) 0%, #FFFFFF 100%);
  border: none;
}

.investors-card {
  background: linear-gradient(90deg, rgba(245, 252, 196, 0.3) 0%, #FFFFFF 100%);
  border: none;
}

.card-title {
  font-size: 1.5rem;
}

.card-subtitle {
  font-size: 1.25rem;
}

.card-text {
  color: rgba(129, 123, 123, 1);
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(0 123 255 / 0%);
}
.stats-section {
  background: linear-gradient(90deg, #042242 0%, #0A57A8 100%);
}

.stats-title {
  font-size: 2.5rem;
  color: #ffffff;
}
.custom-rounded{
  border-radius: 20px;
}
.stats-line {
    width: 40px;
    height: 5px;
    border-radius: 20px;
    background: rgba(10, 105, 215, 1);
}

.stats-subtitle {
  font-size: 1.1rem;
  color: #ffffff;
}


@media (min-width: 768px) {
  .home-description {
    font-size: 1.1rem;
  }

  .card-title {
    font-size: 1.75rem;
  }

  .card-subtitle {
    font-size: 1.4rem;
  }

  .card-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width:500px) {
    .col-lg-6.text-left h2 {
    width: 100%;
    font-size: 30px;
}
.col-lg-6.text-center img {
    margin-top: 50px;
}
.home-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}
.col-md-6.my-5 .p-5 {
    padding: 1rem !important;
}
.col-md-6.my-5 {
    margin-top: 10px!important;
}
}