img.img-detail {
  width: 80% !important;
  border: 1px solid #e1e1e1 !important;
  padding: 30px;
}
.container-border {
  border: 1px solid #000 !important;
  border-radius: 10px;
}
.container-border {
  border: 1px solid #e1e1e1 !important;
  border-radius: 5px;
  margin-top: 30px;
  padding: 40px 30px;
}

h6.MuiTypography-root.MuiTypography-subtitle1.css-1ixrkmk-MuiTypography-root {
  font-weight: 700;
  margin-bottom: 7px;
}
p.MuiTypography-root.MuiTypography-body1.css-1edfpdg-MuiTypography-root {
  color: #6c6c6c;
  font-size: 15px;
}
