p.MuiTypography-root.MuiTypography-body2.css-zkf7cm-MuiTypography-root {
  margin-bottom: 10px;
  font-size: 17px;
}
p.MuiTypography-root.MuiTypography-body2.css-1nmqws6-MuiTypography-root {
  font-size: 16px !important;
}
p.MuiTypography-root.MuiTypography-body2.css-tydx2y-MuiTypography-root {
  font-size: 16px;
  line-height: 30px;
}
h6.MuiTypography-root.MuiTypography-h6.css-8zgow4-MuiTypography-root {
  font-weight: 700;
  font-size: 15px;
}

p.MuiTypography-root.MuiTypography-body1.css-1edfpdg-MuiTypography-root {
  color: #6c6c6c;
  font-size: 25px;
  font-size: 16px !important;
  font-weight: 700;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-20bmp1-MuiSvgIcon-root {
  color: #0b1d37;
}
