.container.border.py-5.mt-80 {
    width: 90%;
}
.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-qcm4uh-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root {
    height: 50px!important;
    /* font-size: 15px; */
    background: #f7f7f7 !important;
}
label#investment-source-label {
    text-transform: uppercase!important;
}