/* Sidebar general styles */
.sidebar {
  background-color: #212735;
  height: 100vh;
  padding: 20px;
      position: sticky;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
}



/* Sidebar link styles */
.sidebar-link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 10px;
}

/* Active sidebar link styles */
.sidebar-link.active {
  background-color: #343B49;
  color: #ffffff!important;
}

.sidebar-link.active svg {
  color: #ffffff;
}

/* Sidebar link hover effect */
.sidebar-link:hover {
  background-color: #343B49;
  color: #ffffff;
}

.sidebar-logo img {
    max-width: 100%;
    height: auto;
    width: 70%;
}
a.nav-link {
    font-size: 17px;
    color: #ffffff !important;
    font-weight: 500;
}
a.sidebar-link.active.nav-link span {
    color: #ffffff;
}