.member-box {
  width: 300px;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  border: 1px solid #cecece;
}

.svg-container {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 300px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.member-svg {
  width: 50px;
  height: 50px;
  color: #cccccc;
}

.add-member-btn {
  display: block;
  margin: 0 auto;
}

/* Add new content block styles */
.content-block {
  margin-bottom: 1.5rem; /* Equivalent to mb-6 */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  margin-top: 30px;
}

.bar {
  height: 8px;
  background-color: rgb(122 122 122 / 10%);
}

.full {
  width: 100%; /* Equivalent to w-full */
}

.half {
  width: 50%; /* Equivalent to w-1/2 */
}

.btn-plus {
  background: #0a69d7;
  color: #fff;
  border-radius: 50px;
  padding: 2px;
  font-size: 17px !important;
}
.btn-add-member {
  font-size: 13px;
  color: #000 !important;
  font-weight: 700;
  border: 1px solid #a9a9a9!important;
  border-radius: 40px!important;
  padding: 5px 20px!important;
  background-color: transparent;
}