

.text-content {
  text-align: left;
}

.text-content h2 {
    font-size: 28px;
    font-weight: 500;
    color: #535353;
}
.text-content p {
    font-size: 17px;
    color: #817B7B;
    width: 70%;
    margin-top: 20px;
}
.row.align-items-center.flex-row-reverse .text-content p{
     font-size: 17px;
    color: #817B7B;
    width: 100%;
     color: #817B7B;
}

.section-image {
    max-width: 100%;
    height: auto;
    width: 70%;
}
.row.align-items-center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row.align-items-center.flex-row-reverse .col-md-6.text-content {
    margin-left: auto;
    width: 40%;
}
/* Flex direction for imageFirst prop */
.flex-row-reverse {
  flex-direction: row-reverse;
}

 h2.features-heading {
    text-align: center!important;
    color:#0A69D7!important;
    font-weight:600;
  }
   .container.info-section {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .banner-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}